# Virtual environment
.venv/
venv/
env/

# Environment variables
.env
.env.*

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Build / packaging
dist/
build/
*.egg-info/

# Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Test Scripts
test_fmp.py

# Egg info
*.egg-info/